@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.gradient_btn {
  background: linear-gradient(
    103.91deg,
    #9b51e0 21.01%,
    rgba(48, 129, 237, 0.8) 100%
  );
}

.red_gradient {
  position: absolute;
  top: -5rem;
  left: -5rem;
  width: 123px;
  height: 123px;
  border-radius: 50%;

  background: #dd1318;
  filter: blur(100px);
}

.green_gradient {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 123px;
  height: 123px;
  border-radius: 50%;

  background: #008a45;
  filter: blur(100px);
}

.gradient-border {
  background: linear-gradient(
    168.82deg,
    #dd1318 1.7%,
    rgba(155, 111, 238, 0) 27.12%,
    rgba(123, 127, 234, 0) 61.28%,
    #008a45 99.52%
  );
}

.kryptBg {
  background-image: url(./assets/kryptBg.jfif);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
